.contato{
	.centro{
		padding-top: 130px;
		@media screen and (max-width: 1000px) {
		    padding-top: 50px;
		}
	}
	h2{
		color: $color-branco;
	}
	form{
		max-width: 875px;
		margin: auto;
		position: relative;
		@media screen and (max-width: 1000px) {
		    flex-direction: column;
		}
		div{
			position: relative;
			span{
				position: absolute;
			    top: -12px;
			    font-size: 13px;
			    right: 0px;
			    color: #fff;
			    padding: 5px 10px;
			    background: #E15757;
			    display: none;
			}
		}
		.msg-error{
			border: 2px solid #E15757;
		}
		.msg-sucess{
			border: 2px solid #28A745;
		}
		#response{
			display: none;
		    position: absolute;
		    bottom: -50px;
		    width: 100%;
		    box-sizing: border-box;
		    padding: 8px 45px;
		    background: #327942;
		    left: 0px;
		    text-align: center;
		    color: #fff;
		}
	}
	.col{
		width: $col-2;
		padding: 0px 15px;
		box-sizing: border-box;
		@media screen and (max-width: 1000px) {
		    width: $col-1;
		    padding: 0px;
		}
	}
	input, textarea{
		margin-bottom: 30px;
		padding: 15px;
		width: 100%;
		box-sizing: border-box;
		font-size: 16px;
		font-family: $font-light;
		box-sizing: border-box;
	}
	textarea{
		height: 228px;
	}
	button{
		width: 235px;
		padding: 15px;
		background: $bg-azul-claro;
		color: $color-branco;
		font-size: 18px;
		font-family: $font-light;
		border: none;
		cursor: pointer;
		float: right;
		transform: scale(1);
		transition: $motion;
		@media screen and (max-width: 460px) {
		    width: 100%;
		}
		&:hover{
			transform: scale(1.05);
			transition: $motion;
		}
	}
}