.depoimentos{
	.centro{
		padding: 60px $padding-padrao 0 $padding-padrao;
	}
	@include bg-gradient();
	h2{
		color: $color-branco;
	}
	.d-flex{
		justify-content: space-around;
		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}
	}
	li{
		position: relative;
		max-width: 240px;
		text-align: center;
		line-height: 25px;
		color: $color-branco;
		padding: 0px 25px 80px 25px;
		@media screen and (max-width: 1000px) {
		    max-width: 100%;
		    text-align: left;
		}
		@media screen and (max-width: 450px) {
		    text-align: center;
		    padding: 0px 25px 25px 25px;
    		margin-bottom: 45px;
    		border-bottom: 1px solid #679bbb;
		}
		&:last-child{
			border-bottom: none;
		}

		p{
			margin-bottom: 15px;
			position: relative;
			&:before{
				content: '"';
				font-family: arial, verdana;
				font-size: 270px;
				opacity: 0.1;
				position: absolute;
				top: -40px;
				left: -40px;
				width: 100px;
			    height: 100px;
			    line-height: 230px;
			}
		}
		
		&:hover figure{
			transform: scale(1.05);
			transition: $motion;
		}
		div{
			@media screen and (max-width: 1000px) {
				max-width: calc(100% - 158px);
	    		float: right;
			}
			@media screen and (max-width: 450px) {
				max-width: 100%;
    			float: none;
			}
		}
	}
	figure{
		width:128px;
		height: 128px;
		margin: auto;
		position: absolute;
		z-index: 2;
    	bottom: -64px;
    	border-radius: 50%;
    	border: 1px solid $color-branco;
    	overflow: hidden;
    	left: 0px;
    	right: 0px;
    	margin: auto;
    	transform: scale(1);
		transition: $motion;
		@media screen and (max-width: 1000px) {
			position: relative;
			bottom: 0px;
			float: left;
			margin-right: 25px;
		}
		@media screen and (max-width: 450px) {
		    float: none;
		    margin: auto;
		    margin-top: 25px;
		}
	}
}