header{
	background: $bg-branco;
	.centro{
		overflow: auto;
		@media screen and (max-width: 390px) {
			@include flex-column-center();
		}
	}
}
.social-links{
	flex: 1;
    align-self: flex-end;
    text-align: right;
    font-size: 1px;
    @include icon-brands();
	li{
		display: inline-block;
		font-size: 0px;
	}
	a{
		width: 40px;
		height: 40px;
		background: $bg-azul-escuro;
		text-decoration: none;
		color: $color-branco;
		display: block;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		margin-left: 15px;
		transition: $motion;
		&:hover{
			background: $bg-azul-claro;
			transition: $motion;
		}
		@media screen and (max-width: 390px) {
			margin: 0px 8px;
		}
	}
	a:before{
		font-size: 22px;
	}
	.facebook:before{
		content: '\f39e';
	}
	.instagram:before{
		content: '\f16d';
	}
	.linkedin:before{
		content: '\f0e1';
	}
	@media screen and (max-width: 390px) {
		align-self: center;
		margin-top: 25px;
	}
}