.servicos{
	background: #fbfbfb url(../img/bg-servicos.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	.centro{
		padding: 65px $padding-padrao;
		@media screen and (max-width: 900px) {
			padding: 50px $padding-padrao;
		}
	}
	.d-flex{
		flex-wrap: wrap;
	}
	li{
		width: $col-4;
		padding: $padding-padrao;
		line-height: 25px;
		color: #434343;
		font-size: 18px;
		box-sizing: border-box;
		@media screen and (max-width: 900px) {
			width: $col-2;
		}
		@media screen and (max-width: 500px) {
			width: $col-1;
			padding: 25px 0px 50px 0px;
		}
		&:last-child{
			@media screen and (max-width: 500px) {
				padding: 25px 0px 0px 0px;
			}
		}
		&:before{
			height:60px;
			display: block;
			margin-bottom: $padding-padrao;
			font-size: 78px;
			color: $color-azul-claro;
			@include icon-solid();
		}
		&:nth-child(1):before{
			content: '\f108';
		}
		&:nth-child(2):before{
			content: '\f080';
		}
		&:nth-child(3):before{
			content: '\f121';
		}
		&:nth-child(4):before{
			content: '\f085';
		}
	}
	
}