html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, video, img {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: #fff; }
  header .centro {
    overflow: auto; }

.social-links {
  flex: 1;
  align-self: flex-end;
  text-align: right;
  font-size: 1px; }
  .social-links li {
    display: inline-block;
    font-size: 16px; }

.banner {
  background: #2c698d url(../img/bg-banner.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }
  .banner .centro {
    padding: 85px 25px; }
  .banner h1 {
    max-width: 580px;
    margin-bottom: 25px;
    line-height: 50px; }
  .banner .d-flex {
    align-items: center; }
    .banner .d-flex .col {
      width: 50%; }
    .banner .d-flex .col-video {
      position: relative; }
      .banner .d-flex .col-video .bt-play {
        width: 135px;
        height: 135px;
        z-index: 2;
        cursor: pointer;
        font-size: 0px;
        transform: scale(1);
        transition: all 250ms ease 0s;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto; }
        .banner .d-flex .col-video .bt-play:before {
          content: '';
          width: 135px;
          height: 135px;
          border: 3px solid #fff;
          border-radius: 50%;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: auto; }
        .banner .d-flex .col-video .bt-play:after {
          content: '';
          width: 0px;
          height: 0px;
          border-top: 24px solid transparent;
          border-bottom: 24px solid transparent;
          border-left: 35px solid #fff;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 10px;
          right: 0px;
          margin: auto; }
        .banner .d-flex .col-video .bt-play:hover {
          transform: scale(1.1);
          transition: all 250ms ease 0s; }
      .banner .d-flex .col-video figure {
        max-width: 578px;
        border: 3px solid #fff;
        margin: auto; }
        .banner .d-flex .col-video figure img {
          width: 100%;
          height: auto; }
  .banner p {
    font-size: 22px; }

body, html {
  width: 100%;
  height: 100%;
  font-family: arial;
  font-size: 16px;
  background: #272643; }

.centro {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  padding: 25px;
  box-sizing: border-box; }

.d-flex {
  display: flex; }

h1 {
  font-size: 45px;
  text-transform: uppercase; }

h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #272643; }
  h2 span {
    color: #2c698d; }

footer {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
