@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, video, img {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: none; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../font/fa-solid-900.eot");
  src: url("../font/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../font/fa-solid-900.woff2") format("woff2"), url("../font/fa-solid-900.woff") format("woff"), url("../font/fa-solid-900.ttf") format("truetype"), url("../font/fa-solid-900.svg#fontawesome") format("svg"); }
@font-face {
  font-family: 'FontBrands';
  font-style: normal;
  font-weight: normal;
  src: url("../font/fa-brands-400.eot");
  src: url("../font/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../font/fa-brands-400.woff2") format("woff2"), url("../font/fa-brands-400.woff") format("woff"), url("../font/fa-brands-400.ttf") format("truetype"), url("../font/fa-brands-400.svg#fontawesome") format("svg"); }
@font-face {
  font-family: 'open_sanslight';
  src: url("../font/OpenSans-Light-webfont.eot");
  src: url("../font/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Light-webfont.woff") format("woff"), url("../font/OpenSans-Light-webfont.ttf") format("truetype"), url("../font/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold';
  src: url("../font/OpenSans-ExtraBold-webfont.eot");
  src: url("../font/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../font/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../font/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

header {
  background: #fff; }
  header .centro {
    overflow: auto; }
    @media screen and (max-width: 390px) {
      header .centro {
        flex-direction: column;
        align-items: center; } }

.social-links {
  flex: 1;
  align-self: flex-end;
  text-align: right;
  font-size: 1px;
  font-family: 'FontBrands'; }
  .social-links li {
    display: inline-block;
    font-size: 0px; }
  .social-links a {
    width: 40px;
    height: 40px;
    background: #272643;
    text-decoration: none;
    color: #fff;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-left: 15px;
    transition: all 250ms ease 0s; }
    .social-links a:hover {
      background: #2c698d;
      transition: all 250ms ease 0s; }
    @media screen and (max-width: 390px) {
      .social-links a {
        margin: 0px 8px; } }
  .social-links a:before {
    font-size: 22px; }
  .social-links .facebook:before {
    content: '\f39e'; }
  .social-links .instagram:before {
    content: '\f16d'; }
  .social-links .linkedin:before {
    content: '\f0e1'; }
  @media screen and (max-width: 390px) {
    .social-links {
      align-self: center;
      margin-top: 25px; } }

.banner {
  background: #2c698d url(../img/bg-banner.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }
  .banner .centro {
    padding: 85px 25px; }
    @media screen and (max-width: 800px) {
      .banner .centro {
        flex-direction: column;
        align-items: center;
        padding: 50px 25px;
        text-align: center; } }
  .banner h1 {
    max-width: 580px;
    margin-bottom: 25px;
    line-height: 50px; }
    @media screen and (max-width: 1070px) {
      .banner h1 {
        font-size: 30px; } }
    @media screen and (max-width: 800px) {
      .banner h1 {
        max-width: 100%; } }
  .banner .d-flex {
    align-items: center; }
    .banner .d-flex .col {
      width: 50%; }
      @media screen and (max-width: 800px) {
        .banner .d-flex .col {
          width: 100%; } }
    .banner .d-flex .col-video {
      position: relative;
      padding: 0px 25px; }
      @media screen and (max-width: 800px) {
        .banner .d-flex .col-video {
          margin-top: 25px; } }
      .banner .d-flex .col-video .bt-play {
        width: 135px;
        height: 135px;
        z-index: 2;
        cursor: pointer;
        font-size: 0px;
        transform: scale(1);
        transition: all 250ms ease 0s;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto; }
        @media screen and (max-width: 600px) {
          .banner .d-flex .col-video .bt-play {
            width: 90px;
            height: 90px; } }
        .banner .d-flex .col-video .bt-play:before {
          content: '';
          width: 135px;
          height: 135px;
          border: 3px solid #fff;
          border-radius: 50%;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: auto; }
          @media screen and (max-width: 600px) {
            .banner .d-flex .col-video .bt-play:before {
              width: 90px;
              height: 90px; } }
        .banner .d-flex .col-video .bt-play:after {
          content: '';
          width: 0px;
          height: 0px;
          border-top: 24px solid transparent;
          border-bottom: 24px solid transparent;
          border-left: 35px solid #fff;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 10px;
          right: 0px;
          margin: auto; }
          @media screen and (max-width: 600px) {
            .banner .d-flex .col-video .bt-play:after {
              border-top: 14px solid transparent;
              border-bottom: 14px solid transparent;
              border-left: 22px solid #fff; } }
        .banner .d-flex .col-video .bt-play:hover {
          transform: scale(1.1);
          transition: all 250ms ease 0s; }
      .banner .d-flex .col-video figure {
        max-width: 578px;
        border: 3px solid #fff;
        margin: auto; }
        @media screen and (max-width: 800px) {
          .banner .d-flex .col-video figure {
            max-width: 100%; } }
        .banner .d-flex .col-video figure img {
          width: 100%;
          height: auto; }
      @media screen and (max-width: 800px) {
        .banner .d-flex .col-video {
          width: 100%; } }
  .banner p {
    font-size: 22px;
    line-height: 30px; }
  .banner .modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5; }
    .banner .modal video {
      max-width: 1024px;
      height: auto;
      width: 90%;
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      top: 0px;
      bottom: 0px;
      z-index: 2; }
    .banner .modal .mascara {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.9); }
    .banner .modal .bt-fechar {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      z-index: 3;
      background: none;
      width: 50px;
      height: 50px;
      font-size: 0px;
      border: none; }
      .banner .modal .bt-fechar:before {
        content: '\f00d';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 30px;
        cursor: pointer; }

.servicos {
  background: #fbfbfb url(../img/bg-servicos.jpg) no-repeat;
  background-size: cover;
  text-align: center; }
  .servicos .centro {
    padding: 65px 25px; }
    @media screen and (max-width: 900px) {
      .servicos .centro {
        padding: 50px 25px; } }
  .servicos .d-flex {
    flex-wrap: wrap; }
  .servicos li {
    width: 25%;
    padding: 25px;
    line-height: 25px;
    color: #434343;
    font-size: 18px;
    box-sizing: border-box; }
    @media screen and (max-width: 900px) {
      .servicos li {
        width: 50%; } }
    @media screen and (max-width: 500px) {
      .servicos li {
        width: 100%;
        padding: 25px 0px 50px 0px; } }
    @media screen and (max-width: 500px) {
      .servicos li:last-child {
        padding: 25px 0px 0px 0px; } }
    .servicos li:before {
      height: 60px;
      display: block;
      margin-bottom: 25px;
      font-size: 78px;
      color: #2c698d;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }
    .servicos li:nth-child(1):before {
      content: '\f108'; }
    .servicos li:nth-child(2):before {
      content: '\f080'; }
    .servicos li:nth-child(3):before {
      content: '\f121'; }
    .servicos li:nth-child(4):before {
      content: '\f085'; }

.projetos {
  background: #fff; }
  .projetos .centro {
    padding: 60px 25px; }
    @media screen and (max-width: 900px) {
      .projetos .centro {
        padding: 50px 25px; } }
  .projetos ul {
    max-width: 1125px;
    margin: auto; }
    @media screen and (max-width: 1270px) {
      .projetos ul {
        max-width: 950px; } }
    @media screen and (max-width: 1070px) {
      .projetos ul {
        max-width: 600px; } }
    @media screen and (max-width: 720px) {
      .projetos ul {
        max-width: 300px; } }
  .projetos .slick-dots {
    bottom: -40px; }
    .projetos .slick-dots li {
      background: #d0d2d3;
      border-radius: 50%;
      width: 15px;
      height: 15px; }
    .projetos .slick-dots li button:before {
      content: '';
      width: 15px;
      height: 15px; }
    .projetos .slick-dots .slick-active {
      background: #2c698d; }
  .projetos .slick-arrow {
    width: 60px;
    height: 60px; }
  .projetos .slick-arrow:before {
    color: #2c698d;
    font-size: 60px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .projetos .slick-prev {
    left: -70px; }
    .projetos .slick-prev:before {
      content: '\f104'; }
  .projetos .slick-slider li img {
    margin: auto; }
  .projetos .slick-next {
    right: -70px; }
    .projetos .slick-next:before {
      content: '\f105'; }

.depoimentos {
  background: #2c698d;
  background: -moz-linear-gradient(top, #2c698d 0%, #468ab2 100%);
  background: -webkit-linear-gradient(top, #2c698d 0%, #468ab2 100%);
  background: linear-gradient(to bottom, #2c698d 0%, #468ab2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-azul-claro', endColorstr='#468ab2',GradientType=0 ); }
  .depoimentos .centro {
    padding: 60px 25px 0 25px; }
  .depoimentos h2 {
    color: #fff; }
  .depoimentos .d-flex {
    justify-content: space-around; }
    @media screen and (max-width: 1000px) {
      .depoimentos .d-flex {
        flex-direction: column; } }
  .depoimentos li {
    position: relative;
    max-width: 240px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    padding: 0px 25px 80px 25px; }
    @media screen and (max-width: 1000px) {
      .depoimentos li {
        max-width: 100%;
        text-align: left; } }
    @media screen and (max-width: 450px) {
      .depoimentos li {
        text-align: center;
        padding: 0px 25px 25px 25px;
        margin-bottom: 45px;
        border-bottom: 1px solid #679bbb; } }
    .depoimentos li:last-child {
      border-bottom: none; }
    .depoimentos li p {
      margin-bottom: 15px;
      position: relative; }
      .depoimentos li p:before {
        content: '"';
        font-family: arial, verdana;
        font-size: 270px;
        opacity: 0.1;
        position: absolute;
        top: -40px;
        left: -40px;
        width: 100px;
        height: 100px;
        line-height: 230px; }
    .depoimentos li:hover figure {
      transform: scale(1.05);
      transition: all 250ms ease 0s; }
    @media screen and (max-width: 1000px) {
      .depoimentos li div {
        max-width: calc(100% - 158px);
        float: right; } }
    @media screen and (max-width: 450px) {
      .depoimentos li div {
        max-width: 100%;
        float: none; } }
  .depoimentos figure {
    width: 128px;
    height: 128px;
    margin: auto;
    position: absolute;
    z-index: 2;
    bottom: -64px;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
    left: 0px;
    right: 0px;
    margin: auto;
    transform: scale(1);
    transition: all 250ms ease 0s; }
    @media screen and (max-width: 1000px) {
      .depoimentos figure {
        position: relative;
        bottom: 0px;
        float: left;
        margin-right: 25px; } }
    @media screen and (max-width: 450px) {
      .depoimentos figure {
        float: none;
        margin: auto;
        margin-top: 25px; } }

.contato .centro {
  padding-top: 130px; }
  @media screen and (max-width: 1000px) {
    .contato .centro {
      padding-top: 50px; } }
.contato h2 {
  color: #fff; }
.contato form {
  max-width: 875px;
  margin: auto;
  position: relative; }
  @media screen and (max-width: 1000px) {
    .contato form {
      flex-direction: column; } }
  .contato form div {
    position: relative; }
    .contato form div span {
      position: absolute;
      top: -12px;
      font-size: 13px;
      right: 0px;
      color: #fff;
      padding: 5px 10px;
      background: #E15757;
      display: none; }
  .contato form .msg-error {
    border: 2px solid #E15757; }
  .contato form .msg-sucess {
    border: 2px solid #28A745; }
  .contato form #response {
    display: none;
    position: absolute;
    bottom: -50px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 45px;
    background: #327942;
    left: 0px;
    text-align: center;
    color: #fff; }
.contato .col {
  width: 50%;
  padding: 0px 15px;
  box-sizing: border-box; }
  @media screen and (max-width: 1000px) {
    .contato .col {
      width: 100%;
      padding: 0px; } }
.contato input, .contato textarea {
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "open_sanslight";
  box-sizing: border-box; }
.contato textarea {
  height: 228px; }
.contato button {
  width: 235px;
  padding: 15px;
  background: #2c698d;
  color: #fff;
  font-size: 18px;
  font-family: "open_sanslight";
  border: none;
  cursor: pointer;
  float: right;
  transform: scale(1);
  transition: all 250ms ease 0s; }
  @media screen and (max-width: 460px) {
    .contato button {
      width: 100%; } }
  .contato button:hover {
    transform: scale(1.05);
    transition: all 250ms ease 0s; }

body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: #272643;
  font-family: "open_sanslight", arial, verdana; }

.centro {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  padding: 25px;
  box-sizing: border-box; }

.d-flex {
  display: flex; }

h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "open_sansextrabold"; }

h2 {
  font-size: 40px;
  font-family: "open_sansextrabold";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #272643; }
  @media screen and (max-width: 460px) {
    h2 {
      font-size: 30px; } }
  h2 span {
    color: #2c698d; }

footer {
  text-align: center;
  color: #fff;
  padding: 50px 25px;
  padding: 50px 25px;
  color: #fff;
  line-height: 25px; }

/*# sourceMappingURL=style.css.map */
